<!DOCTYPE html>
<html lang="vi">
<head>
<meta charset="UTF-8">
<title>Trang chủ</title>

<style>
body{
    font-family: Arial;
    text-align:center;
    background:#f2f2f2;
}

.container{
    margin-top:100px;
}

h1{
    color:#2c3e50;
}

button{
    padding:10px 20px;
    font-size:16px;
    border:none;
    background:#3498db;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#2980b9;
}
</style>

</head>

<body>

<div class="container">

<h1>Sinh viên Hà Lê Quốc Việt</h1>
<p>MSSV: 2280603661</p>

<button onclick="alert('Hello World!')">
Bấm vào đây
</button>

</div>

</body>
</html>